@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: rgb(126, 4, 240);
}
main{
    margin: auto;
    margin-top: 10px;
    border: 1px solid red;
    width: 45vw;
    height: 80vw;
    border-radius: 20px;
}
.imagem{
    height: 30vw;
    background: black url(../imagens/pexels-jonas-horsch-102497290-32859648\ \(1\).jpg) no-repeat;
    border-radius: 20px 20px 0 0;
    background-size: cover;
}
.dados{
    background-color: white;
    height: 61vw;
    border-radius: 0 0 20px 20px;
}
.dados h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 1000;
}

.dado{
    font-size: 1em;
    border: 0.5px solid rgb(126, 4, 240);
    height: 5vw;
    border-radius: 5px;
    width: 33vw;
    background-color: rgba(78, 190, 224, 0.823);
}
.dado:focus{
    background-color: white;
}
.material-icons{
    padding-top: 2px;
    color: white;
}
#entrar{   
    border: 2px solid rgba(29, 149, 185, 0.144);    
    background-color: rgba(50, 172, 209, 0.856);
    color: white;
}
.confirm{
    margin-top: 4px;
    height: 8vw;
    border-radius: 5px;
    width: 43vw;
    font-weight: 500;
    margin-left: 3px;
}
#entrar:hover{
    background-color: rgba(13, 119, 158, 0.699);
}
#esquecer{
    border: 2px solid rgba(13, 58, 71, 0.822);    
    color: rgba(21, 111, 139, 0.952);
    background-color: white;    
}
#esquecer:hover{
    background-color: rgba(19, 115, 150, 0.596);
}
.campo{
    background-color: rgb(126, 4, 240);
    width: 43vw;
    height: 8vw;
    margin-top: 5px;
    border-radius: 15px;
    margin-left: 4px;
}